body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.scroll {
  color: rgb(99, 39, 4);
  transform: scale(2.8);
  position: relative;
  top: 20px;
}

.sword {
  position: relative;
  right: 5px;
  top: -5px;
  transform: scale(0.5);
}

.ok {
  height: 500px;
  width: 400px;
  border: 2px solid black;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  height: 95vh;
  background: linear-gradient(rgb(0, 162, 255), rgb(183, 182, 182));
  /* Animate the hue rotation instead of the gradient itself */
  animation: rgb-shift 20s linear infinite;
}

label {
  font-size: 1.5rem;
  z-index: 1;
  font-family: 'Times New Roman', Times, serif;
}

.input {
  width: 80%;
  z-index: 1;
  border-radius: 20px;
  width: 110%;
}


.button {
  border: none;
  font-size: 1.5rem;
  color: black;
  width: 50%;
  background: linear-gradient(rgb(0, 255, 55), rgb(182, 182, 183));
  position: absolute;
  top: 450px;
  left: 110px;
}

.button {
  border-radius: 20px;
}

button:hover {
  background: linear-gradient(rgb(0, 208, 255), rgb(183, 182, 182));

}

.h1 {
  z-index: 1;
  position: relative;
  top: 20px;
}

.h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  justify-self: center;
  align-self: center;
  justify-content: center;

}

.login {
  border: none;
  background-color: none;
}

.h5 {
  z-index: 1;
  margin: auto;
}

.h5:hover {
  color: rgb(21, 0, 255);
  cursor: pointer;

}

@keyframes rgb-shift {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}